* { color: black; background-color: pink; }

#yy { background-color: red;}

.xx { background-color: aqua;}
.y { background-color: beige;}

#x { background-color: chartreuse;}

legend { background-color: white;}